{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-xl-4 col-md-6">
          <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
            <span class="round small"></span>
            <span class="round big"></span>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="avtar avtar-lg">
                    <i class="text-white ti ti-credit-card"></i>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="btn-group">
                
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><button class="dropdown-item" type="button">Import Card</button></li>
                      <li><button class="dropdown-item" type="button">Export</button></li>
                    </ul>
                  </div>
                </div>
              </div>
              <span class="text-white d-block f-34 f-w-500 my-2">147 <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
              <p class="mb-0 opacity-50">Total de ordenes</p>
            </div>
        
          </div>
        </div>

        <!-- [ Chart Section ] start -->
        <div class="col-xl-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recolecciones por Fecha</h5>
              <canvas id="recoleccionesChart"></canvas> <!-- Canvas para el gráfico -->
            </div>
          </div>
        </div>
        <!-- [ Chart Section ] end -->

        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/js/pages/dashboard-default.js' %}"></script>

  <script>

    function loadRecoleccionesData() {
      
        $.ajax({
            url: '/get/recolecciones/',  
            method: 'GET',
            success: function(response) {
                let fechas = [];
                let cantidades = [];

                response.recolecciones.forEach(function(recoleccion) {
                    fechas.push(recoleccion.Fecha);  
                    cantidades.push(recoleccion.Cantidad);  
                });

              
                generateRecoleccionesChart(fechas, cantidades);
            }
        });
    }


    function generateRecoleccionesChart(fechas, cantidades) {
        var ctx = document.getElementById('recoleccionesChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',  
            data: {
                labels: fechas,  
                datasets: [{
                    label: 'Cantidad de Recolecciones',
                    data: cantidades,  // Eje Y 
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Recolecciones por Fecha'
                    }
                }
            }
        });
    }

  
    $(document).ready(function() {
        loadRecoleccionesData();  
    });
  </script>
{% endblock extra_js %}
