{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <style>
    body {
      background-color: #D8E8C3; /* primaryColor */
    }

    .pc-container {
      background-color: #D8E8C3; /* primaryColor */
    }

    .card {
      background-color: #4BB649; /* primaryColorVc: Fondo de la tarjeta */
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-body {
      color: white;
    }

    .text-white {
      color: white;
    }

    .dashnum-card {
      background-color: #4BB649; /* primaryColorVc */
    }

    .btn-secondary {
      background-color: #008E50; /* primaryColorVo */
      border-color: #008E50;
    }

    .btn-secondary:hover {
      background-color: #06F482; /* primaryColorVl */
      border-color: #06F482;
    }

    .dropdown-menu {
      background-color: #1F2736; /* primaryColorOs */
      color: white;
    }

    .dropdown-item:hover {
      background-color: #008E50; /* primaryColorVo */
      color: white;
    }

    .card .round {
      background-color: #DAF7A6; /* primaryColorVsc */
    }

    .col-xl-4  {
      background-color: #DAF7A6; /* primaryColorVsc */
    }

    
  </style>
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-xl-4 col-md-6">
          <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
            <span class="round small"></span>
            <span class="round big"></span>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="avtar avtar-lg">
                    <i class="text-white ti ti-credit-card"></i>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="btn-group">
                 
                    <ul class="dropdown-menu dropdown-menu-end">
                      
                      <li><button class="dropdown-item" type="button">Import Card</button></li>
                      <li><button class="dropdown-item" type="button">Export</button></li>
                  
                    </ul>
                  </div>
                </div>
              </div>
              <span class="text-white d-block f-34 f-w-500 my-2">1350 <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
              <p class="mb-0 opacity-50">Total Pending Orders</p>
            </div>
        
          </div>
        </div>
    
        <div class="col-xl-4 col-md-12">
    
        </div>

    
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <!-- Apex Chart -->
  <script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/js/pages/dashboard-default.js' %}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
