{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Registro {% endblock title %}

{% block content %}
<!-- [ Main Content ] start -->

<style>
    /* Estilos personalizados */
    body {
        font-family: Arial, sans-serif;
        background-color: #F2F9F4; /* primaryColor */
        color: #008e50; /* primaryColorOs */
    }

    header {
        background-color: #F2F9F4;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        width: 100px;
    }

    .btn-primary {
        background-color: #008E50; /* primaryColorVo */
        border-color: #008E50;
    }

    .btn-primary:hover {
        background-color: #4BB649; /* primaryColorVc */
        border-color: #4BB649;
    }

    .btn-secondary {
        background-color: #4BB649; /* primaryColorVc */
        border-color: #4BB649;
    }

    .btn-secondary:hover {
        background-color: #008E50; /* primaryColorVo */
        border-color: #008E50;
    }

    .login-button {
        border: 2px solid #008E50;
        padding: 5px 10px;
        border-radius: 5px;
        color: #008E50;
        text-decoration: none;
    }

    .login-button:hover {
        background-color: #008E50;
        color: #FFFFFF;
    }

    /* Centrar el formulario y darle estilo */
    form {
        margin: 50px auto;
        padding: 20px;
        width: 50%;
        border: 2px solid #008E50; /* Color del borde */
        border-radius: 10px;
        background-color: #fff;
        text-align: left; /* Justificado */
    }

    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    form button {
        width: 100%;
        padding: 10px;
        background-color: #008E50; /* Botón verde */
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    form button:hover {
        background-color: #4BB649;
    }
</style>


<div class="pc-container">
    <div class="pc-content">
        <div class="row justify-content-center">
            <!-- [ Form Card ] start -->
            <div class="col-xl-6 col-md-8">
                <div class="card bg-secondary-dark text-white overflow-hidden">
                    <span class="round small"></span>
                    <span class="round big"></span>
                    <div class="card-body">
                        <h3 class="mb-4" style="color: white;">Registro de Usuario</h3>
                        <form method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="usuario">Nombre usuario:</label>
                                <input type="text" class="form-control" name="usuario" id="usuario" required>
                                <div class="invalid-feedback">Por favor, introduce un nombre de usuario.</div>
                            </div>

                            <div class="form-group">
                                <label for="clave">Contraseña:</label>
                                <input type="password" class="form-control" name="clave" id="clave" required>
                                <div class="invalid-feedback">Por favor, introduce una contraseña.</div>
                            </div>

                            <div class="form-group">
                                <label for="nombre">Nombre Completo:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required>
                                <div class="invalid-feedback">Por favor, introduce tu nombre completo.</div>
                            </div>

                            <div class="form-group">
                                <label for="rol">Rol:</label>
                                <select class="form-control" name="rol" id="rol" required>
                                    <option value="">Seleccione un rol</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Comercial">Comercial</option>
                                    <option value="Logistica">Logistica</option>
                                  
                                </select>
                                <div class="invalid-feedback">Por favor, selecciona un rol.</div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                                <div class="invalid-feedback">Por favor, introduce un email válido.</div>
                            </div>

                            <div class="form-group">
                                <label for="fecha">Fecha de creación:</label>
                                <input type="date" class="form-control" name="fecha" id="fecha" required>
                                <div class="invalid-feedback">Por favor, selecciona una fecha.</div>
                            </div>

                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Form Card ] end -->
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}

